In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.preprocessing import StandardScaler 

books_demo = pd.read_csv('SDMT_Midterm_Dataset/books.csv')
books_demo.reset_index(drop = True, inplace = True) 
#books_demo.style.hide_index()
#books_demo.style.hide_index()
#Styler.hide(axis='index')
books_demo

,id,book_id,best_book_id,work_id,books_count,isbn,isbn13,authors,original_publication_year,original_title,...,ratings_count,work_ratings_count,work_text_reviews_count,ratings_1,ratings_2,ratings_3,ratings_4,ratings_5,image_url,small_image_url
0,1,2767052,2767052,2792775,272,439023483,9.780439e+12,Suzanne Collins,2008.0,The Hunger Games,...,4780653,4942365,155254,66715,127936,560092,1481305,2706317,https://images.gr-assets.com/books/1447303603m...,https://images.gr-assets.com/books/1447303603s...
1,2,3,3,4640799,491,439554934,9.780440e+12,"J.K. Rowling, Mary GrandPr√©",1997.0,Harry Potter and the Philosopher's Stone,...,4602479,4800065,75867,75504,101676,455024,1156318,3011543,https://images.gr-assets.com/books/1474154022m...,https://images.gr-assets.com/books/1474154022s...
2,3,41865,41865,3212258,226,316015849,9.780316e+12,Stephenie Meyer,2005.0,Twilight,...,3866839,3916824,95009,456191,436802,793319,875073,1355439,https://images.gr-assets.com/books/1361039443m...,https://images.gr-assets.com/books/1361039443s...
3,4,2657,2657,3275794,487,61120081,9.780061e+12,Harper Lee,1960.0,To Kill a Mockingbird,...,3198671,3340896,72586,60427,117415,446835,1001952,1714267,https://images.gr-assets.com/books/1361975680m...,https://images.gr-assets.com/books/1361975680s...
4,5,4671,4671,245494,1356,743273567,9.780743e+12,F. Scott Fitzgerald,1925.0,The Great Gatsby,...,2683664,2773745,51992,86236,197621,606158,936012,947718,https://images.gr-assets.com/books/1490528560m...,https://images.gr-assets.com/books/1490528560s...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,7130616,7130616,7392860,19,441019455,9.780441e+12,Ilona Andrews,2010.0,Bayou Moon,...,17204,18856,1180,105,575,3538,7860,6778,https://images.gr-assets.com/books/1307445460m...,https://images.gr-assets.com/books/1307445460s...
9996,9997,208324,208324,1084709,19,067973371X,9.780680e+12,Robert A. Caro,1990.0,Means of Ascent,...,12582,12952,395,303,551,1737,3389,6972,https://s.gr-assets.com/assets/nophoto/book/11...,https://s.gr-assets.com/assets/nophoto/book/50...
9997,9998,77431,77431,2393986,60,039330762X,9.780393e+12,Patrick O'Brian,1977.0,The Mauritius Command,...,9421,10733,374,11,111,1191,4240,5180,https://images.gr-assets.com/books/1455373531m...,https://images.gr-assets.com/books/1455373531s...
9998,9999,8565083,8565083,13433613,7,61711527,9.780062e+12,Peggy Orenstein,2011.0,Cinderella Ate My Daughter: Dispatches from th...,...,11279,11994,1988,275,1002,3765,4577,2375,https://images.gr-assets.com/books/1279214118m...,https://images.gr-assets.com/books/1279214118s...
9999,10000,8914,8914,11817,31,375700455,9.780376e+12,John Keegan,1998.0,The First World War,...,9162,9700,364,117,345,2031,4138,3069,https://images.gr-assets.com/books/1403194704m...,https://images.gr-assets.com/books/1403194704s...

In [3]:
books_demo.info

<bound method DataFrame.info of          id  book_id  best_book_id   work_id  books_count        isbn  \
0         1  2767052       2767052   2792775          272   439023483
1         2        3             3   4640799          491   439554934
2         3    41865         41865   3212258          226   316015849
3         4     2657          2657   3275794          487    61120081
4         5     4671          4671    245494         1356   743273567
...     ...      ...           ...       ...          ...         ...
9995   9996  7130616       7130616   7392860           19   441019455
9996   9997   208324        208324   1084709           19  067973371X
9997   9998    77431         77431   2393986           60  039330762X
9998   9999  8565083       8565083  13433613            7    61711527
9999  10000     8914          8914     11817           31   375700455

            isbn13                      authors  original_publication_year  \
0     9.780439e+12              Suzanne Collins                     2008.0
1     9.780440e+12  J.K. Rowling, Mary GrandPr√©                     1997.0
2     9.780316e+12              Stephenie Meyer                     2005.0
3     9.780061e+12                   Harper Lee                     1960.0
4     9.780743e+12          F. Scott Fitzgerald                     1925.0
...            ...                          ...                        ...
9995  9.780441e+12                Ilona Andrews                     2010.0
9996  9.780680e+12               Robert A. Caro                     1990.0
9997  9.780393e+12              Patrick O'Brian                     1977.0
9998  9.780062e+12              Peggy Orenstein                     2011.0
9999  9.780376e+12                  John Keegan                     1998.0

                                         original_title  ... ratings_count  \
0                                      The Hunger Games  ...       4780653
1              Harry Potter and the Philosopher's Stone  ...       4602479
2                                              Twilight  ...       3866839
3                                 To Kill a Mockingbird  ...       3198671
4                                      The Great Gatsby  ...       2683664
...                                                 ...  ...           ...
9995                                         Bayou Moon  ...         17204
9996                                   Means of Ascent   ...         12582
9997                              The Mauritius Command  ...          9421
9998  Cinderella Ate My Daughter: Dispatches from th...  ...         11279
9999                                The First World War  ...          9162

     work_ratings_count  work_text_reviews_count  ratings_1  ratings_2  \
0               4942365                   155254      66715     127936
1               4800065                    75867      75504     101676
2               3916824                    95009     456191     436802
3               3340896                    72586      60427     117415
4               2773745                    51992      86236     197621
...                 ...                      ...        ...        ...
9995              18856                     1180        105        575
9996              12952                      395        303        551
9997              10733                      374         11        111
9998              11994                     1988        275       1002
9999               9700                      364        117        345

      ratings_3  ratings_4  ratings_5  \
0        560092    1481305    2706317
1        455024    1156318    3011543
2        793319     875073    1355439
3        446835    1001952    1714267
4        606158     936012     947718
...         ...        ...        ...
9995       3538       7860       6778
9996       1737       3389       6972
9997       1191       4240       5180
9998       3765       4577       2375
9999       2031       4138       3069

                                              image_url  \
0     https://images.gr-assets.com/books/1447303603m...
1     https://images.gr-assets.com/books/1474154022m...
2     https://images.gr-assets.com/books/1361039443m...
3     https://images.gr-assets.com/books/1361975680m...
4     https://images.gr-assets.com/books/1490528560m...
...                                                 ...
9995  https://images.gr-assets.com/books/1307445460m...
9996  https://s.gr-assets.com/assets/nophoto/book/11...
9997  https://images.gr-assets.com/books/1455373531m...
9998  https://images.gr-assets.com/books/1279214118m...
9999  https://images.gr-assets.com/books/1403194704m...

                                        small_image_url
0     https://images.gr-assets.com/books/1447303603s...
1     https://images.gr-assets.com/books/1474154022s...
2     https://images.gr-assets.com/books/1361039443s...
3     https://images.gr-assets.com/books/1361975680s...
4     https://images.gr-assets.com/books/1490528560s...
...                                                 ...
9995  https://images.gr-assets.com/books/1307445460s...
9996  https://s.gr-assets.com/assets/nophoto/book/50...
9997  https://images.gr-assets.com/books/1455373531s...
9998  https://images.gr-assets.com/books/1279214118s...
9999  https://images.gr-assets.com/books/1403194704s...

[10000 rows x 23 columns]>

In [4]:
books_demo.describe()

,id,book_id,best_book_id,work_id,books_count,isbn13,original_publication_year,average_rating,ratings_count,work_ratings_count,work_text_reviews_count,ratings_1,ratings_2,ratings_3,ratings_4,ratings_5
count,10000.00000,1.000000e+04,1.000000e+04,1.000000e+04,10000.000000,9.415000e+03,9979.000000,10000.000000,1.000000e+04,1.000000e+04,10000.000000,10000.000000,10000.000000,10000.000000,1.000000e+04,1.000000e+04
mean,5000.50000,5.264697e+06,5.471214e+06,8.646183e+06,75.712700,9.755044e+12,1981.987674,4.002191,5.400124e+04,5.968732e+04,2919.955300,1345.040600,3110.885000,11475.893800,1.996570e+04,2.378981e+04
std,2886.89568,7.575462e+06,7.827330e+06,1.175106e+07,170.470728,4.428619e+11,152.576665,0.254427,1.573700e+05,1.678038e+05,6124.378132,6635.626263,9717.123578,28546.449183,5.144736e+04,7.976889e+04
min,1.00000,1.000000e+00,1.000000e+00,8.700000e+01,1.000000,1.951703e+08,-1750.000000,2.470000,2.716000e+03,5.510000e+03,3.000000,11.000000,30.000000,323.000000,7.500000e+02,7.540000e+02
25%,2500.75000,4.627575e+04,4.791175e+04,1.008841e+06,23.000000,9.780316e+12,1990.000000,3.850000,1.356875e+04,1.543875e+04,694.000000,196.000000,656.000000,3112.000000,5.405750e+03,5.334000e+03
50%,5000.50000,3.949655e+05,4.251235e+05,2.719524e+06,40.000000,9.780452e+12,2004.000000,4.020000,2.115550e+04,2.383250e+04,1402.000000,391.000000,1163.000000,4894.000000,8.269500e+03,8.836000e+03
75%,7500.25000,9.382225e+06,9.636112e+06,1.451775e+07,67.000000,9.780831e+12,2011.000000,4.180000,4.105350e+04,4.591500e+04,2744.250000,885.000000,2353.250000,9287.000000,1.602350e+04,1.730450e+04
max,10000.00000,3.328864e+07,3.553423e+07,5.639960e+07,3455.000000,9.790008e+12,2017.000000,4.820000,4.780653e+06,4.942365e+06,155254.000000,456191.000000,436802.000000,793319.000000,1.481305e+06,3.011543e+06

In [2]:
books_demo.columns

Index(['id', 'book_id', 'best_book_id', 'work_id', 'books_count', 'isbn',
       'isbn13', 'authors', 'original_publication_year', 'original_title',
       'title', 'language_code', 'average_rating', 'ratings_count',
       'work_ratings_count', 'work_text_reviews_count', 'ratings_1',
       'ratings_2', 'ratings_3', 'ratings_4', 'ratings_5', 'image_url',
       'small_image_url'],
      dtype='object')

In [5]:
books_demo.shape

(10000, 23)

In [8]:
books_demo.duplicated().sum()

0

In [9]:
books_demo['book_id'].duplicated().sum()

0

In [10]:
ratings_demo = pd.read_csv('SDMT_Midterm_Dataset/ratings.csv')
ratings_demo

        book_id  user_id  rating
0             1      314       5
1             1      439       3
2             1      588       5
3             1     1169       4
4             1     1185       4
...         ...      ...     ...
981751    10000    48386       5
981752    10000    49007       4
981753    10000    49383       5
981754    10000    50124       5
981755    10000    51328       1

[981756 rows x 3 columns]

In [11]:
ratings_demo.info

<bound method DataFrame.info of         book_id  user_id  rating
0             1      314       5
1             1      439       3
2             1      588       5
3             1     1169       4
4             1     1185       4
...         ...      ...     ...
981751    10000    48386       5
981752    10000    49007       4
981753    10000    49383       5
981754    10000    50124       5
981755    10000    51328       1

[981756 rows x 3 columns]>

In [12]:
ratings_demo.describe

<bound method NDFrame.describe of         book_id  user_id  rating
0             1      314       5
1             1      439       3
2             1      588       5
3             1     1169       4
4             1     1185       4
...         ...      ...     ...
981751    10000    48386       5
981752    10000    49007       4
981753    10000    49383       5
981754    10000    50124       5
981755    10000    51328       1

[981756 rows x 3 columns]>

In [13]:
ratings_demo.columns

Index(['book_id', 'user_id', 'rating'], dtype='object')

In [14]:
ratings_demo.shape

(981756, 3)

In [29]:
ratings_demo.duplicated()

0         False
1         False
2         False
3         False
4         False
          ...
981751    False
981752    False
981753    False
981754    False
981755    False
Length: 981756, dtype: bool

In [16]:
ratings_demo.duplicated().sum()

1644

In [30]:
ratings_demo['book_id'].duplicated()

0         False
1          True
2          True
3          True
4          True
          ...
981751     True
981752     True
981753     True
981754     True
981755     True
Name: book_id, Length: 981756, dtype: bool

In [37]:
df_ratings_demo = ratings_demo.groupby(['book_id','user_id']).mean()
df_ratings_demo

                 rating
book_id user_id
1       314         5.0
        439         3.0
        588         5.0
        1169        4.0
        1185        4.0
...                 ...
10000   48386       5.0
        49007       4.0
        49383       5.0
        50124       5.0
        51328       1.0

[979478 rows x 1 columns]

In [38]:
df_ratings_demo = ratings_demo.groupby(['book_id','user_id']).size()
df_ratings_demo

book_id  user_id
1        314        1
         439        1
         588        1
         1169       1
         1185       1
                   ..
10000    48386      1
         49007      1
         49383      1
         50124      1
         51328      1
Length: 979478, dtype: int64